@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0; border:0 none }

#top1 { background-color:#BE1D2C; width:100%; height:3px}
#top2 {background-color:#ffffff; width:100%; height:80px}
#top2 #m_top {width:970px; height:35px; margin:auto; padding:15px 0;}
#top2 #m_top #logo { width:200px; height:50px; float:left}
#top2 #m_top #menu {width:583px; height:50px; float:right}
#top2 #m_top #menu #me01 {width:65px; height:15px; float:left; margin:18px 0 17px}
#top2 #m_top #menu #me02 {width:65px; height:15px; float:left; margin:18px 0 17px 110px}
#top2 #m_top #menu #me03 {width:72px; height:15px; float:left; margin:18px 0 17px 110px}
#top2 #m_top #menu #me04 {width:65px; height:15px; float:right; margin:18px 0 17px}
#top3 {background-color:#BE1D2C; width:100%; height:10px}

#w_mid {background-image: url(../image/bg01.png); background-attachment: fixed; background-repeat: no-repeat; background-size: cover; width:100%; height:2190px}
#w_mid #mid { width:970px; height:auto; margin:auto;}
#w_mid #mid #nu {width:583px; height:16px; float:right; margin:10px 0 30px }
#w_mid #mid #nu #nu01 {width:80px; height:16px; float:left; margin:0 100px 0 0;}
#w_mid #mid #nu #nu02 {width:100px; height:10px; float:left;}

#w_mid #mid #m_mid { background-image:url(../image/sub01_m1.png); width:810px; height:57px;float:right; padding:34px 80px}

#w_mid #mid #m_mid #head01 { background-image:url(../image/sub01_m1logo.png); background-repeat:no-repeat; width:145px; height:67px;float:left;}
#w_mid #mid #m_mid #head02 {width:390px; height:67px;float:right;}

#w_mid #mid #b_mid {background-color:#fff; width:970px; height:1920px; float:right; margin:15px 0}

#w_mid #mid #b_mid #mid02 {width:970px; height:100px; float:right;}
#w_mid #mid #b_mid #mid02 #menu {width:728px; height: 31px; float:left; margin:30px 0 0 30px}
#w_mid #mid #b_mid #mid02 #menu #name01 {width: 100px;height: 31px;float: left;text-align: center; }
#w_mid #mid #b_mid #mid02 #menu #name02 {width: 30px;height: 31px;float: left;}
#w_mid #mid #b_mid #mid02 #menu #name03 {width: 150px;height: 31px;float: left;}
#w_mid #mid #b_mid #mid02 #menu #name04 {width: 30px;height: 31px;float: left;}
#w_mid #mid #b_mid #mid02 #menu #name05 {width: 100px;height: 31px;float: left;}
		
#w_mid #mid #b_mid #mid03 {width:924px; height:1820px; float:right; margin:0 23px;}
#w_mid #mid #b_mid #mid03 #box01 {width:292px; height:400px; float:left; margin:0 24px 24px 0} 
#w_mid #mid #b_mid #mid03 #box02 {width:292px; height:400px; float:left; margin:0 24px 24px 0} 
#w_mid #mid #b_mid #mid03 #box03 {width:292px; height:400px; float:left; margin:0 0 24px 0}
#w_mid #mid #b_mid #mid03 #box04 {width:292px; height:120px; float:left; margin:0 24px 47px 0} 
#w_mid #mid #b_mid #mid03 #box05 {width:292px; height:120px; float:left; margin:0 24px 47px 0} 
#w_mid #mid #b_mid #mid03 #box06 {width:292px; height:120px; float:left; margin:0 0 47px 0} 
#w_mid #mid #b_mid #mid03 #box07 {width:292px; height:400px; float:left; margin:0 24px 24px 0} 
#w_mid #mid #b_mid #mid03 #box08 {width:292px; height:400px; float:left; margin:0 24px 24px 0} 
#w_mid #mid #b_mid #mid03 #box09 {width:292px; height:400px; float:left; margin:0 0 24px 0} 
#w_mid #mid #b_mid #mid03 #box10 {width:292px; height:120px; float:left; margin:0 24px 47px 0} 
#w_mid #mid #b_mid #mid03 #box11 {width:292px; height:120px; float:left; margin:0 24px 47px 0} 
#w_mid #mid #b_mid #mid03 #box12 {width:292px; height:120px; float:left; margin:0 0 47px 0} 
#w_mid #mid #b_mid #mid03 #box13 {width:292px; height:400px; float:left; margin:0 24px 24px 0} 
#w_mid #mid #b_mid #mid03 #box14 {width:292px; height:400px; float:left; margin:0 24px 24px 0} 
#w_mid #mid #b_mid #mid03 #box15 {width:292px; height:400px; float:left; margin:0 0 24px 0} 
#w_mid #mid #b_mid #mid03 #box16 {width:292px; height:120px; float:left; margin:0 24px 47px 0} 
#w_mid #mid #b_mid #mid03 #box17 {width:292px; height:120px; float:left; margin:0 24px 47px 0}
#w_mid #mid #b_mid #mid03 #box18 {width:292px; height:120px; float:left; margin:0 0 47px 0} 

#w_mid #mid #b_mid #mid03 #t_box {
	width: 100px;
	height: 30px;
	float: right;
	margin: 0;
	text-align: right;
}

#footer {background-color:#eee; width:100%; height:80px}
#footer #m_footer {width:970px; height:50px; margin:auto; padding:15px 0}
#footer #m_footer #logo1 {width:200px; height:50px; float:left; margin:3px 0 0 0}
#footer #m_footer #text1 {width:570px; height:45px; float:right; margin:5px 0 0 0}


a:link {color: #666;text-decoration: none;}
a:visited {color: #666;text-decoration: none;}
a:hover {color:#BE1D2C;text-decoration: none;}
a:active {color: #666;text-decoration: none;}


.menu {font-size: 15px ;font-family:'NanumBarunGothic', 'NanumGothic', 돋움, serif; font-weight: bolder; text-align:center;}
.s_menu {font-size: 12px ;font-family:'NanumBarunGothic', 'NanumGothic', 돋움, serif; font-weight: bolder; text-align: left;}
.here {font-size: 12px; font-family: 'NanumBarunGothic', 'NanumGothic', 돋움, serif; font-weight: bolder; text-align: left; color:#BE1D2C;}
.head {font-size: 33px;	font-family: 'NanumBarunGothic', 'NanumGothic', 돋움, serif;	text-align: right;	line-height: 33px;}
.head1 {font-size: 16px;	font-family: 'NanumBarunGothic', 'NanumGothic', 돋움, serif;	text-align: right;	line-height: 1.5em; color:#666}
.h_point {font-size: 25px;	font-family: 'NanumBarunGothic', 'NanumGothic', 돋움, serif;	font-weight: bolder;	text-align: right;	line-height: 1.3em; color:#BE1D2C}

.button {text-align: center; font-size: 21px; font-family: "나눔고딕"; color:#999; font-weight: bolder;}
.sellect {text-align: center; font-size: 21px; font-family: "나눔고딕"; color: #ffb32f; font-weight: bolder;}

.colgray {color: #d2d2d0}
.colyel {color: #ffb32f}
.colwhi {color: #FFF}

.f_s24 {font-size: 24px;font-family: "나눔고딕";	font-weight: line-height: 28px; bolder;text-align:left; font-weight: bolder;}
.f_s21 {font-size: 21px;font-family: "나눔고딕";	font-weight: line-height: 22px; bolder;text-align:left; font-weight: bolder;}
.f_s13 {font-size: 14px;font-family: "나눔고딕";line-height: 22px; text-align:left;}

.footer {font-size: 11.5px ;font-family: 'NanumBarunGothic', 'NanumGothic', 돋움, serif; font-weight: normal; text-align: left;}

@font-face{ font-family: 'NanumBarunGothic'; font-style: normal; font-weight: bolder; src: url('../font/NanumBarunGothic.eot');  src: local('※'), url('../font/NanumBarunGothic.woff') format('woff'), url('../font/NanumBarunGothic.ttf') format('truetype');}

@font-face{ font-family: 'NanumGothic'; font-style: normal; font-weight: bolder; src: url('../font/NanumGothic.eot');  src: local('※'), url('../font/NanumGothic.woff') format('woff'), url('../font/NanumGothic.ttf') format('truetype');}
